- name: "example-model"
  model_path: "/path/to/example-model"
  serve_config:
    tp: 99
    pp: 99
    dp: 99
    distributed_executor_backend: "ray"  # default
    gpu_memory_utilization: 0.9  # default
    swap_space: 16  # default
    max_model_len: 4096  # default

    # Optional extra arguments for vllm serve command
    # won't overwrite the default args
    # won't check the validity of these args
    extra_args:
      -mtp:
      --chat-template: "chat_template/tool_chat_template_deepseekr1.jinja"
  benchmark:
      priority: 1 # default, related to bench_params
      dataset_name: "random"  # default
      ignore_eos: true  # default
      sweep_num_runs: 3  # default
  extra_env:
    EXAMPLE_ENV_VAR: "value"


- name: "DeepSeek-V2-Lite"
  model_path: "/mnt/share/models/DeepSeek/DeepSeek-V2-Lit"
  serve_config:
    tp: 2
    pp: 1
    dp: 1
    extra_args:
  benchmark:
      priority: 2
      sweep_num_runs: 1
  extra_env:
    MACA_QUEUE_SCHEDULE_POLICY: 1

# - name: "Qwen3-4B"
#   model_path: "/mnt/share/models/Qwen/Qwen3-4B"
#   serve_config:
#     tp: 2
#     pp: 1
#     dp: 1
#     extra_args:
#   benchmark:
#       priority: 1 # lower value means higher priority
#       sweep_num_runs: 1
#   extra_env:


# - name: "Qwen3-8B"
#   model_path: "/mnt/share/models/Qwen/Qwen3-8B"
#   serve_config:
#     tp: 4
#     pp: 1
#     dp: 1
#     extra_args:
#   benchmark:
#       priority: 1 # lower value means higher priority
#       sweep_num_runs: 1
#   extra_env:


# - name: "Qwen3-14B"
#   model_path: "/mnt/share/models/Qwen/Qwen3-14B"
#   serve_config:
#     tp: 2
#     pp: 1
#     dp: 1
#     extra_args:
#   benchmark:
#       priority: 1 # lower value means higher priority
#       sweep_num_runs: 1
#   extra_env:

# - name: "Qwen3-235B-A22B"
#   model_path: "/mnt/share/models/Qwen/Qwen3-235B-A22B"
#   serve_config:
#     tp: 8
#     pp: 2
#     dp: 1
#     extra_args:
#   benchmark:
#       priority: 1 # lower value means higher priority
#       sweep_num_runs: 1
#   extra_env:
  
# - name: "Qwen3-30B-A3B"
#   serve_config:
#     tp: 8
#     pp: 1
#     dp: 1
#     extra_args:
#   benchmark:
#       priority: 1 # lower value means higher priority
#       sweep_num_runs: 1
#   extra_env: